

body{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#D6E4F0;
}
.background-prime{
    background-color: #112D4E;
}
.container-flex-row.nav{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    align-content:space-around;

}
.container-flex-row{
    display: flex;
    flex-direction: row;
}
.container-flex-column{
    display:flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
}

.author{
    display: flex;
    flex-direction: row;
    gap:30px;
    border: 60px;
}

.element{
    text-decoration: inherit;
    color: inherit;
    flex:1;
    color:white;
    font-size:16px;
    
}
.links{
    align-content: space-between;
    flex:2;
}
.author>.btn>button{

    color: white;              
    font-size: 20px;           
    font-weight: 600;
    border:none;
    cursor: pointer;          
    transition: all 0.3s ease; 
    height: 80px;
}

.author>.btn>button:hover{
    background-color:#1E56A0;
}
.logo-img{
    width:70px;
    float:left;
}
main{
    width:80vw;
    margin:20px auto;
    
}


.grid-container{
    display: grid;
    grid-template: 1fr 1fr /1fr 1fr;
    margin:20px auto;
    gap:20px;
}

.main-card{
    display: flex;
    padding:10px;
    background-color:#D6E4F0;
    border:10px solid #163172;
    border-radius: 20px;
    gap:20px;
    align-items: center;
    transition: 1000ms;
}
.main-card:hover{
    box-shadow: 5px 5px 10px #1E56A0;

}

.main-card img{
    width:150px;
    float:left;
    margin-right:20px;
}
.card-text{
    flex:2;
}

.card-btn{
    border:none;
    background-color: #163172;
    color:white;
    border-radius: 5px;
    height: 40px;
    width:100px;
    cursor: pointer;
    transition: 500ms;
}
.card-btn:hover{
    background-color: #1E56A0;
}

#about{
    padding:20px;
    margin:0px;
}

.category{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.category-continer{
    display: grid;
    grid-template: 1fr 1fr /1fr 1fr 1fr;
    list-style-type:none;
}
.category-continer p{
    width:90%;
}

footer{
    border-top:#163172 solid ;
    color:white;
    background: #112D4E;
    padding:0 10% 0 10%;
    display: flex;
    margin:0px auto;
}
.contact{
    list-style: none;
    gap:20px;
    justify-content: space-around;   
}

#Contact{
    justify-content: space-between;
}
footer>.container-flex-row{
    justify-content: space-between;
}
.search >.container-flex-row{
    align-items:center;
    gap:10px;
    font-size: 20px;
}

.search .card-btn{
    font-size:16px;
    height:30px;
    width:60px;
}
.search input {
    height:30px;
    font-size:16px;
    border-radius:10px;
}